.BuySection {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &-transaction {
    flex: 3;
  }

  &-total {
    flex: 1;
    padding: 0 1rem;
  }

  &-list {
    flex: 2;
  }
}
