.CurrencyList {
  border: 5px solid #fff;
  border-radius: 30px;
  padding: 1rem;
  font-family: var(--main-font);
  height: auto;

  &-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    text-align: center;
    margin-top: 0;
    color: #fff;
  }

  ul {
    padding-left: 0;
    font-size: 1.1rem;
    line-height: 1.6;

    li {
      text-align: center;

      &.legend {
        font-weight: 800;
        font-size: 0.9rem;
      }
    }
  }
}

@media screen and (min-width: 400px) and (max-width: 1000px) {
  .CurrencyList {
    ul {
      font-size: 1rem;
      line-height: 1.2;
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .CurrencyList {
    ul {
      font-size: 1rem;
      line-height: 1.3;
    }
  }
}
