.FilterTransactions {
  background-color: #fff;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  font-size: 1.1rem;

  input,
  select {
    font-family: var(--main-font);
    font-size: 1.1rem;
    border: 1px solid var(--main-pink);
    cursor: pointer;
    border-radius: 30px;
    padding: 0.2rem;

    &:active,
    &:focus {
      outline: none;
      background-color: var(--main-pink);
    }
  }

  input[type='date'] {
    margin: 0 0.5rem;
  }

  label {
    font-family: var(--main-font);
    font-size: 1.2rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .FilterTransactions {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.4rem;
    input,
    select {
      font-size: 0.8rem;
      margin: 0.3rem;
    }

    label {
      font-size: 0.8rem;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 400px) and (max-width: 1600px) {
  .FilterTransactions {
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.4rem;
    input,
    select {
      font-size: 0.9rem;
      margin: 0.3rem;
    }

    input[type='date'] {
      margin: 0.3rem;
    }

    label {
      font-size: 0.9rem;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
  .FilterTransactions {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1600px) and (max-width: 2000px) {
  .FilterTransactions {
    padding: 0.4rem;
    input,
    select {
      font-size: 1rem;
      margin: 0.1rem;
    }

    input[type='date'] {
      margin: 0;
    }

    label {
      font-size: 0.9rem;
      cursor: pointer;
    }
  }
}
