.HomePage {
  background: linear-gradient(to right, #8ad5e6, #d2e5ea);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;

  &-container {
    border: 5px solid #fff;
    border-radius: 30px;
    width: 75%;
    height: 88%;
    padding: 0 2rem;

    &-content {
      height: 88%;
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 1000px) {
  .HomePage {
    align-items: flex-start;
    &-container {
      width: 85%;
      margin: 1rem;
      height: auto;
      padding: 0 0.5rem;

      &-content {
        height: 70%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
