.Menu {
  box-sizing: border-box;
  background-color: #fff;
  width: 70%;
  height: 12%;
  margin: 0 auto;
  padding: 0 2rem;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    height: 70px;
    margin: 0.5rem;
    cursor: pointer;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0.5rem;

    li {
      margin: 0 2rem;

      a {
        text-decoration: none;
        color: var(--grey-letter);
        transition: all 0.4s;

        &.active {
          border-radius: 30px;
          padding: 0.5rem;
          background-color: var(--main-pink);
          color: #fff;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
