.OptionsSection {
  padding: 2rem;
  font-family: var(--main-font);

  &-option {
    border: 5px solid #fff;
    border-radius: 30px;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;

    &-box {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }
  }

  &-btn {
    font-family: var(--main-font);
    padding: 0.6rem 1.5rem;
    font-size: 1.1rem;
    border: 2px solid var(--main-pink);
    background: transparent;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;

    &.danger {
      background-color: var(--main-pink);
    }

    &:hover {
      background-color: var(--main-pink);
      color: #fff;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  input {
    font-family: var(--main-font);
    padding: 0.6rem 1.5rem;
    font-size: 1.1rem;
    border: 2px solid var(--main-pink);
    background: transparent;
    margin: 0.5rem;

    &:active,
    &:focus {
      outline: none;
    }
  }
}


@media screen and (min-width: 400px) and (max-width: 1000px) {
.OptionsSection {
  padding: 1rem;
  font-size: 1rem;

  &-option {
    border: 2px solid #fff;
    padding: 0.2rem 1rem;
  
    &-box {
           justify-content: space-between;

          div{
            display: flex;
          }
    }
  }


    &-btn {
      padding: 0.5rem;
      font-size: 1rem;
    }

    input {
      padding: 0.3rem 1rem;
      font-size: 1rem;
      border: 2px solid var(--main-pink);
      width: 50%;
    }
  }
}

