.Total {
  border: 5px solid #fff;
  border-radius: 30px;
  font-family: var(--main-font);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  h3 {
    text-align: center;
    margin: 0.5rem 0rem;
    color: #fff;
    margin-top: 0;
  }

  &-data {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    p {
      margin: 0.3rem 0.5rem;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 1000px) {
  .Total {
    border: 2px solid #fff;
    padding: 0.5rem 0;
    font-size: 0.8rem;

    &-data {
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      p {
        margin: 0.3rem 0.3rem;
      }
    }
  }
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .Total {
    border: 2px solid #fff;
    padding: 0.5rem 0;
    font-size: 0.9rem;
  }
}
