.TransactionItem {
  font-size: 1.2rem;
  border-bottom: 1px solid var(--grey-letter);
  tr {
    width: 100%;
    display: flex;
    justify-content: space-around;

    td {
      width: 150px;
    }
  }
}
