.TransactionItem {
  font-size: 1.2rem;
  border-bottom: 1px solid var(--grey-letter);
  tr {
    width: 100%;
    display: flex;
    justify-content: space-around;

    td {
      width: 150px;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 1000px) {
  .TransactionItem {
    font-size: 0.9rem;
    border-bottom: 1px solid var(--grey-letter);
    tr {
      td {
        width: auto;
      }
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .TransactionItem {
    font-size: 1rem;
    border-bottom: 1px solid var(--grey-letter);
    tr {
      td {
        width: auto;
      }
    }
  }
}

@media screen and (min-width: 1300px) and (max-width: 1600px) {
  .TransactionItem {
    font-size: 1rem;
    tr {
      td {
        width: auto;
      }
    }
  }
}
